<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="./">{{ 'COMMON.TITLE' | translate }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="search"
            routerLinkActive="active">
            {{ 'HOME.SEARCH_ARROW' | translate }}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <ng-container *ngIf="isAuthenticated">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="account"
              routerLinkActive="active">
              {{ 'ACCOUNT.TITLE' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a
              *ngIf="isAuthenticated"
              class="nav-link"
              href="#"
              (click)="logout()">
              {{  'LOGIN.LOGOUT' | translate }}
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="login"
              routerLinkActive="active">
              {{ 'LOGIN.TITLE' | translate }}
            </a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="changelog"
            routerLinkActive="active">
            Changelog
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-5 rounded">
    <router-outlet />
  </div>
</main>

<footer class="text-center mt-4">
  {{ 'COMMON.VERSION' | translate }} {{ version }}
</footer>

<a
  [href]="githubLink"
  target="_blank"
  class="github-fork-banner">
  Fork me &#64;
  <i class="fab fa-github" aria-hidden="true"></i>
</a>
